#tna_ebapi_events ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 0.5em;
}
#tna_ebapi_events .event-img, #tna_ebapi_events .event-text {
    float: left;
}
#tna_ebapi_events .event-img {
    width: 30%;
    margin-right: 3%;
    position: relative;
}
#tna_ebapi_events .event-img .online-event {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    background-color: #008484;
}
#tna_ebapi_events .event-img .online-event span {
    padding: 5px;
}
#tna_ebapi_events .event-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
}
#tna_ebapi_events .event-text {
    width: 66%;
}
#tna_ebapi_events .event-text p, #tna_ebapi_events .event-text h4 {
    margin: 0;
}
#tna_ebapi_events .event-status {
    color: #CB0D07;
}
@media (max-width: 640px) {
    #tna_ebapi_events .event-img {
        width: 100%;
        margin-bottom: 14px;
    }
    #tna_ebapi_events .event-text {
        width: 100%;
    }
}